.banner {
    width: 100%;
    min-width: 680px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../../assets/image/banner.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

// Search box
.search-box {
    width: 680px;
    height: 66%;
    min-width: 400px;
    background-color: rgba(0, 0, 0, 0.3);
}

.buy-rent {
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
}

.buy, .rent {
    width: 384px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.is-active{
    background: rgba(0, 130, 6, 0.75);
}

// Search props
.search-props{
    height: 128px;
}

.center{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.btn-search-container{
    display: flex;
    justify-content: center;
}

.btn-search{
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    color: #551a8b;
}

// Input Container
.cbb-container{
    height: 42px;
}

.input-container{
    width: 270px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: solid 1px #bbb;
    border-radius: 4px;
    &:hover{
        background-color: #eee;
    }
}

.input-cbb{
    width: calc(100% - 40px);
    min-width: 44px;
    padding: 0 0 0 16px;
    border: none;
    outline: none;
    cursor: default;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    font-size: 15px;
}

.icon-dropdown{
    width: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

// Combobox Value
.cbb-value{
    width: 270px;
    max-height: 270px;
    position: relative;
    background-color: #fff;
    overflow-y: auto;
    border: solid 0.5px #bbb;
    border-radius: 4px;
    z-index: 1;
}

.cbb-item{
    height: 40px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    user-select: none;
    font-weight: 400;
    color: black;
    &:hover{
        background-color: #bdffb3;
    }
    &:active{
        background-color: #98fb84;
    }
}