.name-slider{
    font-weight: 700;
    padding: 40px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    color: #551a8b;
    cursor: default;
}

.see-more{
    font-weight: 400;
    cursor: pointer;
}