.cbb-value{
    width: 270px;
    max-height: 270px;
    position: relative;
    background-color: #fff;
    overflow-y: auto;
    border: solid 0.5px #bbb;
    border-radius: 4px;
    z-index: 1;
}


.cbb-item{
    height: 40px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    user-select: none;
    font-weight: 400;
    color: black;
    &:hover{
        background-color: #bdffb3;
    }
    &:active{
        background-color: #98fb84;
    }
}