.wrap-content {
    width: calc(100% - 360px);
    height: calc(100vh - 116px);
}

.header-content {
    padding-top: 24px;
    font-size: 24px;
    font-weight: 500;
    color: #551a8b;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    padding-top: 5%;
}

.d-label {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 500;
}

.value-item {
    width: 300px;
    height: 30px;
    color: black;
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0;
    border-radius: 4px;
    border: solid 1.6px rgba(152, 152, 152, 0.784);

    &:focus {
        outline: none;
        border-color: #0b8600;
    }
}

.btn-change {
    width: 88px;
    height: 30px;
    margin-top: 24px;
    margin-left: 110px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #239719;
    cursor: pointer;

    &:hover {
        background-color: #0b8600;
    }

    &:active {
        background-color: #0eac00;
    }

    &:disabled {
        background-color: #0eac00a3;
        cursor: default;
    }
}